#!/usr/bin/env python

PACKAGE='image_labeling_utils'
import roslib;
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator();
exit(gen.generate(PACKAGE, "image_labeling_utils", "general"))
