<launch>

  <arg name="name" default="artefact_gt" />

  <group>

    <!-- for intel with oibaf drivers -->
    <node pkg="subt_virtual_launch" type="artefact_gt_publisher.py" name="artefact_gt" output="screen" >
      <param name="sdf_path" value="/home/mrs/subt_workspace/src/subt_virtual/ros_packages/subt_virtual_launch/worlds/mrs_simple_cave_01.sdf"/>
      <param name="object_name" value="rescue_randy_zero"/>
      <param name="obj_frame" value="MARBLE_QAV500/virtual_origin"/>
    </node>
  </group>

</launch>
